main {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    background-color: blue;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
}

.cards {
    background-color: gray;
    width: 100%;
    height: 100%;
    padding: 50px 0px 50px 0px;
}

.add-task-container {
    background-color: green;
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.new-category {
    width: 350px;
    height: 200px;
    position: fixed;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.display-none {
    display: none;
}

.buttons-add-cancel-category {
    display: flex;
    justify-content: end;
    font-size: 50px
}