main {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.nav-bar {
    background-color: blue;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
}

.cards {
    background-color: gray;
    width: 100%;
    height: 100%;
    padding: 50px 0px 50px 0px;
}

.fast-add-bar {
    background-color: green;
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}